html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Helvetica;
    height: 100%;
}

/*Navigation menu*/

.nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.nav li {
    padding: 20px;
}

.nav li a:hover {
    opacity: 0.9;
    color: gray;
}

.nav li a{
    text-decoration: none;
    color: lightgray;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 1.2em;
}

.nav li {
    display: inline-block;
    align-items: center;
}


/*bodycontent*/

.box {
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box h2 {
    font-size: 6em;
    text-align: center;
    color: gray;
    font-weight: lighter;
    opacity: 0.7;
    margin-bottom: 8%;
    margin-top: 8%;
}

.box .info {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 0.9em;
    opacity: 0.4;
    padding-bottom: 5%;
    border-bottom: 1px solid gray;

}

.box .contact {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 0.9em;
    opacity: 0.4;
    padding-top: 5%;
}

.box li {
    display:  inline-block;
    color: gray;
    font-weight: lighter;
    font-weight: normal;
}

.box ul {
    text-align:center;
    align-items: center;
    padding-top: 5%;
    padding-left: 0%;
}

/*Portfolio socials section*/

.container {
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container ul {
    margin: 0;
    text-transform: lowercase;
}

.container li {
    padding: 80px;
    color: lightgray;
    font-size: 1.5em;
    font-weight: lighter;
    display: inline-block;
}

.container li a:hover {
    opacity: 0.3;
}

.container li a {
    color: gray;
    text-decoration: none;
}

.container li a:visited {
    color: lightgray;
}
